body{
  padding: 0;
  margin: 0;
}
.map-img{
  margin: 0 auto;
  height: 290px;
  margin-top: 94px;
}
.hr-line{
  background: #333;
  height: 2px;
}
.heading{
  margin-top: 70px;
}
.checked {
    color: orange;
}
.regalert{
  color: red;
}
#reviewtop{
  margin-top: 100px;

}
